pool:
  vmImage: ubuntu-latest

steps:
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: true
    sqMavenPluginVersionChoice: 'latest'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'DEVSECOPS-USACH'
    organization: 'rsanzana-devsecops-usach'
    scannerMode: 'MSBuild'
    projectKey: 'RSANZANA-DEVSECOPS-USACH_spring-boot-kubernetes'
    projectName: 'spring-boot-kubernetes'

- task: sonarcloud-buildbreaker@2
  inputs:
    SonarCloud: 'DEVSECOPS-USACH'
    organization: 'rsanzana-devsecops-usach'