kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name:   spring-boot-k8s-deployment
  labels:
    app: spring-boot-k8s
  namespace: example-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-boot-k8s
  template:
    metadata:
      labels:
        app: spring-boot-k8s
    spec:
      containers:
      - name: spring-boot-k8s
        image: spring-boot-k8s:v1
        ports:
        - containerPort: 9977
        resources:
          limits:
            memory: "1Gi"
            cpu: "500m"
          requests: 
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 9977
          initialDelaySeconds: 60
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 9977
          initialDelaySeconds: 60
          timeoutSeconds: 5